@font-face {
  font-family: 'Inter';
  src: url('./Inter.ttf');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(135deg, #97ABFF 0%, #123597 100%);
  color: #fff;
  font-family: Inter;
  height: 100vh;
  padding: 30px;
}

.container {
  margin: auto;
  width: 900px;
}

.logo {
  margin-bottom: 30px;
}

.box {
  background: linear-gradient(149deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.00) 100%);
  border-radius: 14px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.today-weather {
  height: 400px;
}

.main-info {
  text-align: center;
}

.today-weather h1 {
  font-size: 44px;
  margin-bottom: 12px;
}

.today-temp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 15px;
}

.temperature {
  font-size: 90px;
}

.other-info-box {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.other-info-box img {
  height: 40px;
  width: 40px;
}