@font-face {
    font-family: 'Inter';
    src: url('./Inter.ttf');
    font-weight: 400;
    font-style: normal;
  }

body {
    background: linear-gradient(135deg, #97ABFF 0%, #123597 100%);
    color: #fff;
    font-family: Inter;
    height: 100vh;
}